<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <meta 
     name='viewport' 
     content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' 
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ipro Signatures</title>
    <link rel="stylesheet" href="/public/css/main.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>
<body>
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                      <img src="/public/images/Ifedayo Fashion 20190308_153858.jpg" class="d-block w-100 j-image" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="/public/images/artem-bali-663765-unsplash.jpg" class="d-block w-100 j-image" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="/public/images/marcus-loke-751530-unsplash.jpg" class="d-block w-100 j-image" alt="...">
                  </div>
                </div>
        </div>

    

    <div class="container-fluid m-0 p-0">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavBar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="" class="navbar-brand m-md-0">
                <span class="ipro text-dark">Ipro-Signature</span>
            </a>
            
            <div class="collapse navbar-collapse" id="mainNavBar">
                <div class="navbar-nav">
                    <a href="/" class="nav-item nav-link active">Home</a>
                    <a href="/about" class="nav-item nav-link ">About US</a>
                    <a href="/men" class="nav-item nav-link"> MEN</a>
                    <a href="/women" class="nav-item nav-link">WOMEN</a>
                    <a href="/contact" class="nav-item nav-link">Contact Us</a>
                </div>
            </div>

            <ul class="navbar-nav  dropdown ml-lg-5 m-md-0">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropDown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i>
                </a>

                <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                    <a href="" class="dropdown-item">Sign-In</a>
                    <a href="" class="dropdown-item">Register</a>
                </div>
            </ul>

            <div class="navbar-nav">
                <a href="" class="nav-item nav-link"><i class="fas fa-heart"></i></a>
            </div>
            
           
        </nav>
    </div>
           

    <main class="container mt-5">
        <p>Welcome to Ipro Signatures</p>


        <h1 class="display-6">
            Casual English Wears Women
        </h1>
        <div class="row">
            <img class="col-lg-4  mb-3 front-img" src="/public/images/ian-dooley-347968-unsplash.jpg" alt="">
            <img class="col-lg-4  mb-3 front-img" src="/public/images/ian-dooley-pinkwall-347962-unsplash.jpg" alt="">
            <img class="col-lg-4  mb-3 front-img" src="/public/images/jessica-castro-449555-unsplash.jpg" alt="">
        </div>

        <h1 class="display-6">
                Casual English Wears Men
            </h1>
            <div class="row">
                <img class="col-lg-4  mb-3 front-img" src="/public/images/mean-shadows-685613-unsplash.jpg" alt="">
                <img class="col-lg-4  mb-3 front-img" src="/public/images/tyler-nix-594397-unsplash.jpg" alt="">
                <img class="col-lg-4  mb-3 front-img" src="/public/images/levi-alvarez-485070-unsplash.jpg" alt="">
            </div>
    </main>

  
        <footer class="footer mx-0">
                <div class="footer-list">
                    <ul class="nav-list">
                        <li>Home</li>
                        <li>About US</li>
                        <li>MEN</li>
                        <li>WOMEN</li>
                        <li>Sign In</li>
                        <li class="last-li">Register</li>
                    </ul>
            
                </div>
                
                <ul class="footer-icons"> 
                    <li class="list-inline-item"><i class="fab fa-facebook fa-2x"></i></li>
                    <li class="list-inline-item"><i class="fab fa-twitter fa-2x"></i></li>
                    <li class="list-inline-item"><i class="fab fa-instagram fa-2x"></i></li>
                </ul>
            
                    
            <p class="copyrights">Copyrights &copy; 2019</p>
        </footer>
  
   




    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>