<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <meta 
     name='viewport' 
     content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' 
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Women</title>
    <link rel="stylesheet" href="/public/css/main.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>    

    <header>

            <div class="container-fluid m-0 p-0">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
            
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavBar">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <a href="" class="navbar-brand m-md-0">
                            <span class="ipro text-dark">Ipro-Signature</span>
                        </a>
                        
                        <div class="collapse navbar-collapse" id="mainNavBar">
                            <div class="navbar-nav">
                                <a href="/" class="nav-item nav-link">Home</a>
                                <a href="/about" class="nav-item nav-link ">About US</a>
                                <a href="/men" class="nav-item nav-link"> MEN</a>
                                <a href="/women" class="nav-item nav-link active">WOMEN</a>
                                <a href="/contact" class="nav-item nav-link">Contact Us</a>
                            </div>
                        </div>
            
                        <ul class="navbar-nav  dropdown ml-lg-5 m-md-0">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropDown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user"></i>
                            </a>
            
                            <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                                <a href="" class="dropdown-item">Sign-In</a>
                                <a href="" class="dropdown-item">Register</a>
                            </div>
                        </ul>
            
                        <div class="navbar-nav">
                            <a href="" class="nav-item nav-link"><i class="fas fa-heart"></i></a>
                        </div>
                        
                       
                    </nav>
                </div>
    </header>

   
           

    <main>

            <div class="container-fluid m-0 p-0">
                    <div class="section-1 women">
                        <div class="d-flex justify-content-center">
                            <div class="d-flex flex-column">
                                <h1>Women's<span>Place</span></h1>
                                <a href="">Elegance  | Classy</a>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
       
        <div class="container mt-5">
            <div class="row my-5">
                <div class="col-lg-6 col-md-6 my-5 justify-content-center" data-aos="fade-up" data-aos-easing="ease-in-sine">
                    <div class="card">
                        <img src="/public/images/stylish-blue.jpg" alt="" class="cat-images">
                        <div class="card-body">
                            <h4 class="cat-title">Everyday Wears</h4>
                            <p class="cat-desc">Casual, Active, Work, Smart</p>
                            <a class="btn-shop" href="#">Shop Now</a>
                        </div> 
                    </div>   
                    
                </div>

            <div class="col-lg-6 col-md-6 my-5 justify-content-center" data-aos="fade-left" data-aos-offset="500" data-aos-easing="ease-in-sine">
                <div class="card">
                    <img src="/public/images/josue-escoto-1416198-unsplash.jpg" alt="" class="cat-images">
                    <div class="card-body">
                        <h4 class="cat-title">Everyday Wears</h4>
                        <p class="cat-desc">Casual, Active, Work, Smart</p>
                        <a class="btn-shop" href="#">Shop Now</a>
                    </div> 
                </div>   
                        
            </div> 
        </div>
    </div>


        <div class="container-fluid m-0 p-0" data-aos="fade-up" data-aos-easing="ease-in-sine">
            <div class="connect">
                <div class="row">
                    <div class="col-lg-4 col-md-4 mt-3">
                        <img src="/public/images/nordwood-themes-359015-unsplash.jpg" alt="" class="my-5 ml-5">
                    </div>
                    <div class="col-lg-6 col-md-6 mt-5">
                        <h3 class="heading-1">We make your clothes Unique!!!</h3>
                        <p class=" lead text-muted">With special and unique designs that stands you out, designs that speak to your uniqueness</p>
                        <p class="text-muted">You've got that special design pattern that you want? Give us a try and we will bring make that design a reality</p>
                    </div>
                </div>
            </div>
        </div>


    <div class="container mt-5">
        <div class="row my-5">
            <div class="col-lg-6 col-md-6 my-5 justify-content-center" data-aos="fade-up" data-aos-easing="ease-in-sine">
                <div class="card">
                    <img src="/public/images/emma-valerio-1421389-unsplash.jpg" alt="" class="cat-images">
                    <div class="card-body">
                        <h4 class="cat-title">Everyday Wears</h4>
                        <p class="cat-desc">Casual, Active, Work, Smart</p>
                        <a class="btn-shop" href="#">Shop Now</a>
                    </div> 
                </div>   
                
            </div>

        <div class="col-lg-6 col-md-6 my-5 justify-content-center" data-aos="fade-down" data-aos-easing="ease-in-sine" data-aos-delay="500">
            <div class="card">
                <img src="/public/images/charisse-kenion-714752-unsplash.jpg" alt="" class="cat-images">
                <div class="card-body">
                    <h4 class="cat-title">Everyday Wears</h4>
                    <p class="cat-desc">Casual, Active, Work, Smart</p>
                    <a class="btn-shop" href="#">Shop Now</a>
                </div> 
            </div>   
                    
        </div>
    </div>
    </div>

    </main>


  
        <footer class="footer mx-0" data-aos="fade-up">
                <div class="footer-list">
                    <ul class="nav-list">
                        <li>Home</li>
                        <li>About US</li>
                        <li>MEN</li>
                        <li>WOMEN</li>
                        <li>Sign In</li>
                        <li class="last-li">Register</li>
                    </ul>
            
                </div>
                
                <ul class="footer-icons"> 
                    <li class="list-inline-item"><i class="fab fa-facebook fa-2x"></i></li>
                    <li class="list-inline-item"><i class="fab fa-twitter fa-2x"></i></li>
                    <li class="list-inline-item"><i class="fab fa-instagram fa-2x"></i></li>
                </ul>
            
                    
            <p class="copyrights">Ipro-Signature &copy; 2019</p>
        </footer>
  
   




    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<script>
    AOS.init();
    AOS.init({disable: 'phone'});
    AOS.init({disable: 'tablet'});
</script>
</body>
</html>